<h3>Interaction</h3>
<div class="row">
  <div class="col-sm-12">

    <svg class="btn" width="365" height="85" viewBox="0 0 365 85" xmlns="http://www.w3.org/2000/svg">

      <!-- Basic Button -->
      <g>
        <rect width="100%" height="100%" rx="10" ry="10" fill="#428a3e" />
        <text x="36%" y="61%" font-family="Helvetica" font-size="30" fill="#ffffff">Commit</text>
      </g>

      <!-- Slider inside the button -->
      <g class="btn-hover">
        <rect width="23%" height="100%" rx="10" ry="10" fill="#5cb65c" />

        <!-- Arrow Icon downloaded from freepik.com -->
        <g class="arrow">
          <svg x="7%" y="32%" width="8%" height="34%" viewBox="0 0 451 451" fill="#ffffff">
            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
		        L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
		        c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
          </svg>
        </g>

        <!-- Alternative with text instead of an icon -->
        <!-- <text class="arrow" x="9%" y="61%" font-family="Helvetica" font-size="30" fill="#ffffff">&gt;</text> -->

        <text class="txt-commited" x="36%" y="61%" font-family="Helvetica" font-size="30" fill="#ffffff">Commited</text>
      </g>
    </svg>
  </div>
</div>
